:root {
  --primary-brand-cl: #4d5ae5;
  --pressed-state-cl: #404bbf;
  --dark-cl: #2e2f42;
  --text-cl: #434455;
  --light-cl: #f4f4fd;
  --hero-background-cl: #2e2f42;
  --white-background-cl: #ffffff;
  --light-bg-cl: #f4f4fd;
  --cornfiower-cl: #e7e9fc;
  --success-cl: #31d0aa;
  --white-cl: #ffffff;
  --lightslate: #8e8f99;
  --backdrop-cl: rgba(46, 47, 66, 0.4);
  --modal-bg-cl: #fcfcfc;
  --modal-icon-cl: #2e2f42;
  /* Main number of elements in Flex grid */
  --items: 3;
  /* Main gap in Flex grid */
  --indent: 24px;
}
body {
  background-color: var(--white-background-cl);
  color: var(--text-cl);
  font-weight: normal;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Mob screen styles */
.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
/* Tab screen styles */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desk screen styles */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/*Reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol,
.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a,
.link {
  color: currentColor;
  font-style: normal;
  text-decoration: none;
}
button,
.btn {
  font-family: inherit;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea {
  font-family: inherit;
}
/*Logo styles*/
.logo,
.footer-logo-accent,
.logo-accent {
  font-weight: 800;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header .logo {
  margin-right: 76px;
}
.logo {
  color: var(--primary-brand-cl);
}
.logo-accent {
  color: var(--dark-cl);
}

/* Styles Header*/
.header {
  border-bottom: 1px solid var(--accent-cl);
  box-shadow: var(--header-shadow);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav .link {
  padding: 24px 0;
}
@media only screen and (min-width: 768px) {
  .header .logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .header .logo {
    margin-right: 76px;
  }
}
@media only screen and (min-width: 1158px) {
  .header .link {
    padding: 24px 0;
  }
}
.header .link:hover,
.header .link:focus {
  color: var(--pressed-state-cl);
}
.header .logo-accent {
  color: var(--dark-cl);
}
@media only screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: var(--indent);
    align-items: center;
    --indent: 40px;
  }
}
.header-list-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.header-list-link {
  position: relative;
  color: var(--dark-cl);
  font-weight: 500;
  transition: color var(--main-transition-duration-and-timing-function);
}
.header-list-link.active {
  color: var(--pressed-state-cl);
}
.header-list-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-cl);
}
@media only screen and (max-width: 767.98px) {
  .header-address {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .header-address-list {
    display: flex;
    gap: var(--indent);
    --items: 2;
    --indent: 40px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-address-list-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}
.header-address-list-link {
  display: block;
  color: var(--text-cl);
  transition: color var(--main-transition-duration-and-timing-function);
}
@media only screen and (min-width: 768px) {
  .header-address-list-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .header-address-list-item:not(:last-child) .header-address-list-link {
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-address-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .header-address-list-item:first-child .header-address-list-link {
    padding-top: 16px;
    padding-bottom: 0;
  }
  .header-address-list-item:last-child .header-address-list-link {
    padding-top: 0;
    padding-bottom: 16px;
  }
}

/*Hero-section style*/
.hero-section {
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: var(--hero-background-cl);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg_mob@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
/* Retina styles */
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg_mob@2x.jpg);
  }
}
@media only screen and (min-width: 429px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg_tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg_tab@2x.jpg);
    }
  }
}
@media only screen and (min-width: 769px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/bg_desk@2x.jpg);
    }
  }
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
  }
}
.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;
  color: var(--white-cl);
  font-weight: 700;
  font-style: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-btn {
  display: block;
  min-width: 169px;
  min-height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand-cl);
  color: var(--white-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-cl);
}

/*Features-section*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  outline: 0;
  outline-offset: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .features-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: var(--indent);
    --items: 2;
  }
}
@media only screen and (min-width: 1158px) {
  .features-list {
    gap: var(--indent);
    --items: 4;
  }
}
@media only screen and (max-width: 767.98px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 768px) {
  .features-list-item {
    display: flex;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    flex-direction: column;
    gap: 8px;
  }
}
.features-title {
  color: var(--dark-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.features-text {
  font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .features-text {
    font-weight: 400;
  }
}
.features-icon-thumb {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .features-icon-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    background-color: var(--light-bg-cl);
  }
}

/*Do section*/
.do-section {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .do-section {
    display: block;
    padding-bottom: 120px;
  }
}
.do-title {
  margin-bottom: 72px;
  color: var(--dark-cl);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.do-list {
  display: flex;
  gap: var(--indent);
}
.do-list-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/*Section Our Team styles*/
.team-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--light-bg-cl);
}
@media only screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .team-container {
    max-width: 584px;
  }
}
.team-title {
  margin-bottom: 72px;
  color: var(--dark-cl);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
@media only screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: var(--indent);
    --items: 2;
  }
}
@media only screen and (min-width: 1158px) {
  .team-list {
    gap: var(--indent);
    --items: 4;
  }
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-background-cl);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (max-width: 767.98px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
  .team-list-item {
    width: 264px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .features-list-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}
.card {
  padding: 32px 0px;
  text-align: center;
}
.team-name-title {
  margin-bottom: 8px;
  color: var(--dark-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-position-text {
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: var(--indent);
  justify-content: center;
  align-items: center;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state-cl);
}
.team-social-icon {
  flex-shrink: 0;
  fill: var(--light-cl);
}

/*Customers section*/
.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers-title {
  margin-bottom: 72px;
  color: var(--dark-cl);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  --items: 2;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: var(--indent);
    --items: 3;
  }
}
@media only screen and (min-width: 1158px) {
  .customers-list {
    gap: var(--indent);
    --items: 6;
  }
}
.customers-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  height: 88px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state-cl);
  color: var(--pressed-state-cl);
}
.customers-icon {
  fill: currentColor;
}

/* Portfolio main styles*/
.main {
  padding-top: 96px;
  padding-bottom: 120px;
  background-color: var(--white-background-cl);
}
.title {
}
.portfolio-filter-list {
  display: flex;
  gap: var(--indent);
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-filter-item:hover,
.portfolio-filter-item:focus {
  border-radius: 4px;
  background: var(--pressed-state-cl);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio-filter-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*portfolio page buttons*/
.portfolio-btn {
  padding: 12px 24px;
  border: 1px solid var(--cornfiower-cl);
  border-radius: 4px;
  background-color: var(--light-bg-cl);
  color: var(--primary-brand-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid transparent;
  background-color: var(--pressed-state-cl);
  color: var(--white-background-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*Portfolio photo*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: var(--indent);
}
.portfolio-list-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.portfolio-link {
  display: block;
  background-color: var(--white-cl);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
}
.portfolio-list-card {
  padding: 32px 16px;
  border: 1px solid var(--cornfiower-cl);
  border-top: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-list-card,
.portfolio-link:focus .portfolio-list-card {
  border: 1px solid var(--light-cl);
  border-top: none;
}
.portfolio-title {
  margin-bottom: 8px;
  color: var(--dark-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--text-cl);
}
/*Portfolio overlay styles*/
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--primary-brand-cl);
  color: var(--light-bg-cl);
  font-weight: 400;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

/*footer stylse*/
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark-cl);
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    align-items: baseline;
    column-gap: var(--indent);
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}
@media only screen and (max-width: 767.98px) {
  .footer-logo-container {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    margin-right: 120px;
  }
}
.footer .logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer .logo {
    text-align: left;
  }
}
.footer-logo-accent {
  color: var(--light-cl);
}
.footer-text {
  color: var(--light-cl);
}
@media only screen and (max-width: 767.98px) {
  .footer-text {
    max-width: 268px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
    margin: 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .footer-social-container {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-social-container {
    margin-right: 80px;
  }
}
.footer-social-text {
  margin-bottom: 16px;
  color: var(--white-cl);
  font-weight: 500;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-social-text {
    text-align: left;
  }
}
.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success-cl);
}
.footer-social-icon {
  flex-shrink: 0;
  fill: var(--light-cl);
}

/* Subscribe form styles*/
.subscribe-form-title {
  margin-bottom: 16px;
  color: var(--white-cl);
  font-weight: 500;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .subscribe-form-title {
    text-align: left;
  }
}
.subscribe-form-input {
  width: 264px;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 16px;
  border: 1px solid var(--white-cl);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-cl);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 767.98px) {
  .subscribe-form-input {
    width: 100%;
  }
}
.subscribe-form-input:focus {
  border-color: var(--primary-brand-cl);
}
.subscribe-form-input::placeholder {
  color: var(--white-cl);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand-cl);
  color: var(--white-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 767.98px) {
  .subscribe-btn {
    margin: 0 auto;
  }
}
.subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: var(--pressed-state-cl);
}
.footer-subscribe-icon {
  margin-left: 16px;
}

/*Modal styles*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-cl);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 767.98px) {
  .backdrop {
    overflow-y: auto;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 392px;
  min-height: 584px;
  padding: 72px 16px 24px;
  border-radius: 4px;
  background-color: var(--modal-bg-cl);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}
@media only screen and (min-width: 320px) and (max-width: 427.98px) {
  .modal {
    width: calc(288px + (392 - 288) * ((100vw - 320px) / (427.98 - 320)));
  }
}
@media only screen and (max-width: 767.98px) {
  .modal {
    top: 20px;
    transform: translateX(-50%); scale(1);
  }
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornfiower-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: var(--pressed-state-cl);
}
.close-modal-icon {
  fill: var(--dark-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .close-modal-icon,
.modal-close-btn:focus .close-modal-icon {
  fill: var(--white-cl);
}
/* Modal form styles */
.modal-caption {
  margin-bottom: 16px;
  color: var(--dark-cl);
  font-weight: 500;
  text-align: center;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field-container {
  margin-bottom: 8px;
}
/* Margin for textarea */
.modal-form-textarea-container {
  margin-bottom: 16px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-input-container {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid var(--backdrop-cl);
  border-radius: 4px;
  background-color: transparent;
  color: var(--dark-cl);
  outline: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border-color ;
}
/* Stecifical textarea styles*/
.modal-form-input:last-child {
  height: 120px;
  padding: 8px 16px;
  color: var(--backdrop-cl);
  font-size: 12px;
  line-height: 1.17;
  resize: none;
}
.modal-form-input::placeholder {
  color: var(--backdrop-cl);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-input:focus {
  border-color: var(--primary-brand-cl);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  outline: transparent;
  fill: var(--dark-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-brand-cl);
}
.modal-form-checkbox-container {
  margin-bottom: 24px;
}
.modal-form-checkbox-label {
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-checkbox-accent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--backdrop-cl);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked + .modal-form-checkbox-label .modal-form-checkbox-accent {
  border: none;
  background-color: var(--pressed-state-cl);
  fill: var(--light-cl);
}
.modal-form-checkbox:focus + .modal-form-checkbox-label .modal-form-checkbox-accent {
  outline: 1px solid var(--primary-brand-cl);
  outline-offset: -1px;
}

.modal-form-checkbox-link {
  color: var(--primary-brand-cl);
  text-decoration: underline;
}
.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand-cl);
  color: var(--white-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--pressed-state-cl);
}

/* Mobile Menu */
.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle-icon {
  stroke: var(--dark-cl);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 80px 0 40px 40px;
  background-color: var(--white-background-cl);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}
.menu-container.is-open {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornfiower-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
  border: none;
  background-color: var(--pressed-state-cl);
}
.menu-close-icon {
  fill: var(--dark-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-toggle:hover .menu-close-icon,
.menu-container .menu-toggle:focus .menu-close-icon {
  fill: var(--white-cl);
}
.mobile-menu {
  width: fit-content;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.mobile-menu-link.active {
  color: var(--pressed-state-cl);
}
.mobile-address {
  margin-bottom: 48px;
  padding-right: 35px;
}
.mobile-address-list-item:first-child {
  margin-bottom: 40px;
}
.mobile-address-list-item:first-child .mobile-address-list-link {
  color: var(--primary-brand-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
@media only screen and (min-width: 320px) and (max-width: 427.98px) {
  .mobile-address-list-item:first-child .mobile-address-list-link {
    font-size: 25.3px;
  }
}
.mobile-address-list-item:last-child .mobile-address-list-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.mobile-social-media-list {
  display: flex;
  gap: 56px;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 427.98px) {
  .mobile-social-media-list {
    gap: 40px;
  }
}
.mobile-social-media-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-media-item-link:hover,
.mobile-social-media-item-link:focus {
  background-color: var(--pressed-state-cl);
}
.mobile-social-media-icon {
  flex-shrink: 0;
  fill: var(--light-cl);
}
